<div class="row">
  <div class="col-xs-12">
    <div class="logo-wrapper">
      <img src="/img/ionic.png" alt="">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="buttons-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <a href="#/login" class="auth-button">Login</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="#/register" class="auth-button">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
