<div id="map"></div>
<div class="fab fab-user">
  <a href="#/profile"><i class="fa fa-user"></i></a>
</div>
<div class="fab fab-shop">
  <a><i class="fa fa-shopping-cart"></i></a>
</div>
<div class="fab fab-setting">
  <a><i class="fa fa-cog"></i></a>
</div>
<div class="fab fab-location">
  <a><i class="fa fa-crosshairs"></i></a>
</div>
<div id="ghost-map" class="ghost">
  <div class="ghost-content">
    <div class="ghost-head">
      <div class="image-wrapper">
        <img src="" alt="" class="img-responsive">
      </div>
      <h2></h2>
    </div>
    <div class="ghost-body"></div>
    <div class="ghost-foot">
      <div class="text-center">
        <a href="#/battle" class="btn-ghost" ng-click="battle()">Somethings nearby</a>
      </div>
    </div>
  </div>
</div>
