<div class="profile">
  <div class="user-profile clearfix">
    <div class="user-profile-image">
      <i class="fa fa-user"></i>
    </div>
    <div class="user-profile-description">
      <h3>Username</h3>
      <p>test@email.com</p>
    </div>
  </div>
  <div class="user-tabs">
    <div class="tabs clearfix">
      <div class="tab-ctrl" id="tab-armor" ng-click="openTab('armor')">Armor</div>
      <div class="tab-ctrl" id="tab-achievement" ng-click="openTab('achievement')">Badges</div>
      <div class="tab-ctrl" id="tab-equipment" ng-click="openTab('equipment')">Equipment</div>
    </div>
    <div class="tabs-content-wrapper">
      <div id="armor" class="tab-content">
        <h4>Your armor</h4>
        <div class="weapon-wrapper clearfix">
          <div class="weapon-image">
            <img src="img/primary-sword.png" class="img-responsive" alt="">
          </div>
          <div class="weapon-description">
            <h5>Sword of undead</h5>
            <p>DMG: 258</p>
          </div>
        </div>
        <div class="weapon-wrapper clearfix">
          <div class="weapon-image">
            <img src="img/primary-shield.png" class="img-responsive" alt="">
          </div>
          <div class="weapon-description">
            <h5>Superiour shield</h5>
            <p>DEF: 58</p>
          </div>
        </div>
      </div>
      <div id="achievement" class="tab-content">
        <h4>Your badges</h4>
        <div class="badge clearfix">
          <div class="badge-icon">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="badge-description">
            <h5>Achievement 1</h5>
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
        <div class="badge clearfix">
          <div class="badge-icon">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="badge-description">
            <h5>Achievement 1</h5>
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
        <div class="badge clearfix">
          <div class="badge-icon">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="badge-description">
            <h5>Achievement 1</h5>
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
        <div class="badge clearfix">
          <div class="badge-icon">
            <span>
              <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="badge-description">
            <h5>Achievement 1</h5>
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
      <div id="equipment" class="tab-content">
        <h4>Your weapons</h4>
        <div class="weapons clearfix">
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-sword.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Spoon</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-sword.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Butter knife</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-sword.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Banana</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-sword.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Wooden sword</h2>
              </div>
            </div>
          </div>
        </div>
        <h4>Your shields</h4>
        <div class="weapons clearfix">
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-shield.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Pillow</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-shield.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Cutting board</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-shield.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Toilet seat</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="mini-card">
              <div class="mini-card-image">
                <img src="img/primary-shield.png" class="img-responsive" alt="">
              </div>
              <div class="mini-card-name">
                <h2>Board</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
