<div class="map-background">
  <div class="map-background-cover"></div>
  <div class="container">
    <div class="logo-wrapper">
      <img src="img/ionic.png" alt="" class="img-responsive">
    </div>
    <form class="auth-form">
      <h3>Create an account</h3>
      <div class="form-line">
        <div class="col-12">
          <input type="text" class="form-item" placeholder="Username">
        </div>
      </div>
      <div class="form-line">
        <div class="col-12">
          <input type="email" class="form-item" placeholder="E-mail address">
        </div>
      </div>
      <div class="form-line">
        <div class="col-12">
          <input type="password" class="form-item" placeholder="Password">
        </div>
      </div>
      <div class="form-line">
        <div class="col-12">
          <input type="password" class="form-item" placeholder="Password confirmation">
        </div>
      </div>
      <div class="form-line">
        <div class="col-12">
          <a href="#/map" class="btn">Sign up</a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="form-line">
        <div class="col-6">
          <a href="#/username" class="btn btn-social-login btn-social-login-facebook"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-6">
          <a href="#/username" class="btn btn-social-login btn-social-login-google-plus"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </form>
  </div>
</div>
