<div class="store">
  <div class="user-profile clearfix">
    <div class="user-profile-image">
      <img src="img/coin-stack.png" class="img-responsive" alt="">
    </div>
    <div class="user-profile-description">
      <h3>Money pouch: 58220 tr</h3>
      <p><a href="javascript:void(0)" class="btn btn-earn-more text-center">Earn more</a></p>
    </div>
  </div>
  <div class="store-content">
    <h4>Weapons</h4>
    <div class="weapons clearfix">
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-sword.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Spoon</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-sword.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Butter knife</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-sword.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Banana</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-sword.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Wooden sword</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
    </div>
    <h4>Shields</h4>
    <div class="shields clearfix">
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-shield.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Pillow</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-shield.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Cutting board</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-shield.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Toilet seat</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/primary-shield.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>Board</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
    </div>
    <h4>Tr coins</h4>
    <div class="coins clearfix">
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/coin-stack-black.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>1 500 Tr</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/coin-stack-black.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>3 500 Tr</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/coin-stack-black.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>10 000 Tr</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="mini-card">
          <div class="mini-card-image">
            <img src="img/coin-stack-black.png" class="img-responsive" alt="">
          </div>
          <div class="mini-card-name">
            <h2>15 000 Tr</h2>
          </div>
          <div class="mini-card-button">
            <a>Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
