<div class="map-background">
  <div class="map-background-cover"></div>
  <div class="container">
    <div class="logo-wrapper">
      <div class="big-icon">
        <i class="fa fa-user"></i>
      </div>
    </div>
    <form class="auth-form">
      <h3>Type your username</h3>
      <div class="form-line">
        <input type="text" class="form-item" placeholder="Username">
      </div>
      <div class="form-line">
        <a href="#/home" class="btn">Next</a>
      </div>
    </form>
  </div>
</div>
